:root {
    --font-standard: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --size-left: 30%;
    --size-right: calc(100% - var(var(--size-left)));
    --horizontal-gap: 150px;
    --vertical-gap: 50px;
}

/* LEFT AND RIGHT PADDING */

/* CUSTOM FONTS */
@font-face {
    font-family: anon;
    src: url('./fonts/AnonymousPro-Regular.ttf');
}

@font-face {
    font-family: anon-bold;
    src: url('./fonts/AnonymousPro-Bold.ttf');
}

@font-face {
    font-family: amatic;
    src: url('./fonts/AmaticSC-Regular.ttf');
}

@font-face {
    font-family: amatic-bold;
    src: url('./fonts/AmaticSC-Bold.ttf');
}

/* RESETS */

* {
    border: 0px solid red;
    color: white;
    padding: 0;
    margin: 0;
    font-family: var(--font-standard);
}

body {
    background-color: rgb(37, 36, 36);
}

/* LAYOUTS */

.flex-container {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.grid-container {
    display: grid;
}

/* SECTIONS */

.header-section,
.blurb,
.projects,
.title {
    padding: var(--vertical-gap) var(--horizontal-gap);
}

@media only screen and (max-width: 600px) {
    .header-section,
    .blurb,
    .projects,
    .title {
        padding: 5px 20px;
    }
}


.header-section {
    background-image: url('/img/ales-nesetril-Im7lZjxeLhg-unsplash.jpg');
    background-position: center;
    background-size: 70%;
    height: 250px;
    justify-content: flex-start;
    align-items: center;
}

.header-section p {
    width: 30%;
    font-family: anon-bold, var(--font-standard);
    font-size: 3rem;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0);
    text-transform: uppercase;

    letter-spacing: 1rem;
    -webkit-text-stroke: 1px white;
    background-image: -webkit-linear-gradient(45deg, #333, black, #333);
    background-size: 100%;
    background-clip: text;
}

.blurb {
    --shadow-x: 5px;
    --shadow-y: 5px;
    background: white;
    box-shadow: 0px 10px 20px -7px grey inset,0px -10px 20px -7px grey inset;;
    /* clip-path: inset(10px, 0px); */
}

.blurb > p {
    color: black;
}

.title {
    font-family: anon-bold;
    font-size: 2rem;
    color:white;
    -webkit-text-stroke: 1px black;
    transform: rotate(-30deg) translatey(120px);
    transform-origin: center left;
}

.projects {
    display: grid;
    --gap : 10px;
    grid-template-columns: 150px 150px 150px;
    grid-auto-flow: row;
    column-gap: var(--gap);
    row-gap: calc(var(--gap) * 3);
    justify-content: space-evenly;
    align-items: stretch;
    justify-items: stretch;
}

.projects>div {
    height: 150px;
    width: 150px;
}

.projects>div>div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid lightblue;
    border-radius: 5px;
    padding: 10px;
    line-height: 1rem;
    flex: 1 0 auto;
    background-color: white;
}

.projects>div>div:first-child:hover {
    border: 5px solid rgb(123, 200, 226);
    box-shadow: 0px 0px 10px 1px white;
}

.projects>div>div>img {
    width:95%;
}

.projects>div>div:last-child {
    display: flex;
    font-family: anon;
    padding: 5px 0px 0px 0px;
}

