:root {
    --font-standard: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --color-bg: black;
    --padding-vert: 10px;
    --padding-hori: 10px;
    --project-card-dim: 250px;
    --font-size: 11pt;
}

/* CUSTOM FONTS */
@font-face {
    font-family: anon;
    src: url('./fonts/AnonymousPro-Regular.ttf');
}

@font-face {
    font-family: anon-bold;
    src: url('./fonts/AnonymousPro-Bold.ttf');
}

@font-face {
    font-family: amatic;
    src: url('./fonts/AmaticSC-Regular.ttf');
}

@font-face {
    font-family: amatic-bold;
    src: url('./fonts/AmaticSC-Bold.ttf');
}

/* RESETS */

* {
    border: 0px solid red;
    color: white;
    padding: 0;
    margin: 0;
    font-family: var(--font-standard);
    font-size: var(--font-size);
}

body {
    background-color: var(--color-bg);
}

/* SECTIONS */

.viewport {
    padding: var(--padding-hori) var(--padding-hori);
}

.viewport {
    display: grid;
    grid-template: calc(4rem + calc(2*var(--padding-vert))) minmax(100px, 3fr) calc(var(--project-card-dim) + calc(var(--padding-hori) * 2)) / 1fr;
    justify-content: space-between;
    min-height: calc(100vh - 20px);
}

.title {
    font-family: amatic-bold;
    font-size: calc(4*1rem);
    margin-bottom: auto;
}

.looking-glass {
    overflow: auto;
}

.projects {
    display: grid;
    justify-content: stretch;
    grid-template: var(--project-card-dim) /repeat(5, var(--project-card-dim));
    grid-auto-columns: var(--project-card-dim);
    /* grid-auto-rows: var(--project-card-dim);
    grid-auto-columns: var(--project-card-dim); */
    /* grid-template-columns: repeat(5, var(--project-card-dim));
    grid-template-rows: var(--project-card-dim);
    grid-auto-rows: var(--project-card-dim); */
    gap: 25px
}

.card {
    /* height: var(--project-card-dim); */
    /* box-sizing: border-box; */
    background: #222;
    padding: 5px;
    width: 100%;
    font-size: 0.8rem;
    border: 1px solid rgb(77, 76, 76);
    transition: 0.5s cubic-bezier(.18, .89, .32, 1.28);
    box-shadow: 4px 4px 10px rgb(126, 125, 125);
    border-radius: 5px;
    overflow: visible;
    text-overflow: ellipsis;
}

.card:hover {
    border: 2px solid white;
    transform: scale(120%, 120%) translatey(-50px);
    z-index: 1;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: calc(var(--project-card-dim) / 2.5);
    height: calc(var(--project-card-dim) / 2.5);
    background-position: center;
    background-size: calc(var(--project-card-dim) / 2.5) calc(var(--project-card-dim) / 2.5);
    border-radius: 7px;
    margin: 5px 5px 5px 0px;
}

.card-img>img {

    border-radius: 5px;
    margin: 5px;

}

.card-title {
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
    font-family: anon;
    font-weight: bolder;
    letter-spacing: 0.3rem;
}

/* MEDIA QUERIES */





@media screen and (max-width: 1300px) {
    .title {
        margin-bottom: 0px;
    }

    .projects {
        grid-template-columns: repeat(3, var(--project-card-dim));
    }
}

@media screen and (max-width: 800px) {
    .title {
        margin-bottom: 0px;
    }

    .projects {
        grid-template-columns: repeat(2, var(--project-card-dim));

    }
}

/* @media screen and (max-width: 600px) {
    .title {
        margin-bottom: 0px;
    }

    .projects {
        grid-template-columns: repeat(2, var(--project-card-dim));
    }
} */

@media screen and (max-width: 600px) {
    .title {
        margin-bottom: 0px;
    }

    .projects {
        grid-template-columns: var(--project-card-dim);
    }

}